index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!--end-->
    <!--owl carousel 2-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" rel="stylesheet">
    <!--end-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/welcome.css">
    <link rel="stylesheet" href="css/features.css">
    <link rel="stylesheet" href="css/iphone-block.css">
    <link rel="stylesheet" href="css/dividers.css">
    <link rel="stylesheet" href="css/features-second.css">
    <link rel="stylesheet" href="css/ipad-block.css">
    <link rel="stylesheet" href="css/platform.css">
    <link rel="stylesheet" href="css/quotes.css">
    <link rel="stylesheet" href="css/do-it.css">
    <link rel="stylesheet" href="css/prices.css">
    <link rel="stylesheet" href="css/footer.css">
  </head>
  <body>
    <div id="main">
      <!--NAVIGATION-->
      <nav class="navbar navbar-default navbar-fixed-top" id="navigation" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"><img src="./img/logo.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Home</a></li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Pages<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">&Dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;</a></li>
                  <li><a href="#">&Dcy;&rcy;&ucy;&gcy;&ocy;&iecy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;</a></li>
                  <li><a href="#">&CHcy;&tcy;&ocy;-&tcy;&ocy; &iecy;&shchcy;&iecy;</a></li>
                  <li class="divider"></li>
                  <li><a href="#">&Ocy;&tcy;&dcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&scy;&ycy;&lcy;&kcy;&acy;</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Elements<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">&Dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;</a></li>
                  <li><a href="#">&Dcy;&rcy;&ucy;&gcy;&ocy;&iecy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;</a></li>
                  <li><a href="#">&CHcy;&tcy;&ocy;-&tcy;&ocy; &iecy;&shchcy;&iecy;</a></li>
                  <li class="divider"></li>
                  <li><a href="#">&Ocy;&tcy;&dcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&scy;&ycy;&lcy;&kcy;&acy;</a></li>
                </ul>
              </li>
              <li><a href="#">Product</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Work</a></li>
              <li class="nav-btn"><a href="#">Start a Project</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--END NAVIGATION-->
      <!--WELCOME-->
      <section id="welcome">
        <div class="container">
          <h1>Get some<br>Fresh air</h1>
          <p>Fjord - Modern Landing Page</p>
        </div>
      </section>
      <!--END WELCOME-->
      <!--FEATURES-->
      <section id="features">
        <div class="container">
          <div class="row-custom">
            <div class="item">
              <div class="image">
                <div class="img"><img src="./img/fe1.png"></div>
              </div>
              <h4><span>GET A CUSTOMIZED<br>EMAIL ADDRESS AND MORE</span></h4>
              <p>
                Looking cautiously round,
                to ascertain that they were
                not overheard, the two hags
                cowered nearer to the fire,
                and chuckled heartily.
              </p>
              <div class="link"><a href="#">Learn more</a></div>
            </div>
            <div class="item">
              <div class="image">
                <div class="img"><img src="./img/fe2.png"></div>
              </div>
              <h4><span>40 MILLION HIGH<br>QUALITY IMAGES</span></h4>
              <p>
                At first, for some time,
                I was not able to answer
                him one word; but as he
                had taken me in his arms
                I held fast by him, or I
                should have fallen to the ground.
              </p>
              <div class="link"><a href="#">Learn more</a></div>
            </div>
            <div class="item">
              <div class="image">
                <div class="img"><img src="./img/fe3.png"></div>
              </div>
              <h4><span>CREATE A SIMPLE LOGO<i>New</i></span></h4>
              <p>
                She gave my mother such a turn,
                that I have always been convinced
                I am indebted to Miss Betsey for having
                been born on a Friday.
              </p>
              <div class="link"><a href="#">get started</a></div>
            </div>
          </div>
        </div>
      </section>
      <!--END FEATURES-->
      <!--IPHONE BLOCK-->
      <section id="iphone-block">
        <div class="container">
          <div class="block-content">
            <div class="block-carousel"><img class="bg" src="./img/iphone.png">
              <div class="carousel-img"><img class="active" src="./img/logo-big-rotate.png"><img src="./img/logo-big-rotate.png"></div>
              <div class="controls">
                <div class="prev"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span></div>
                <div class="next"><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></div>
              </div>
            </div>
            <div class="card">
              <div class="card-items">
                <div class="item">
                  <h3>Create a beautiful website</h3>
                  <p>
                    Whether you want to create a blog,
                    eCommerce store, portfolio,
                    or all of the above, you can express
                    your idea with a website powered by
                    our elegant yet intuitive platform.
                  </p>
                </div>
                <div class="item">
                  <h3>Make your our business.</h3>
                  <p>
                    From goods to services, every business
                    needs a space online to bring in customers.
                  </p>
                </div>
                <div class="item">
                  <h3>Be artist</h3>
                  <p>
                    An artist should always have control over
                    their creative process.
                  </p>
                </div>
              </div><a href="#">Get started</a>
            </div>
          </div>
        </div>
      </section>
      <!--END IPHONE BLOCK-->
      <!--DIVIDER-->
      <section id="divider">
        <div class="container">
          <h1>Build it beautiful</h1>
          <p>
            Sometimes bold ideas don't require a full
            website. That's why Cover Pages can be
            used to convey a single idea in a beautiful way.
          </p>
        </div>
      </section>
      <!--END DIVIDER-->
      <!--SECOND FEATURES-->
      <section id="features-second">
        <div class="container">
          <div class="row-custom">
            <div class="item">
              <h4>Dummy Content</h4>
              <p>
                Can make website design much easier
                and with our shortcode manager you can
                now create them even faster.
                Choose your desired shortcode and the
                manager will insert it for you.
              </p>
              <div class="link"><a href="#">Learn more</a></div>
            </div>
            <div class="item">
              <h4>Parallax Sections</h4>
              <p>
                You can create as many sections as you like,
                with or without paralaxx, it’s up to you!
                Brooklyn does not limit your imagination,
                see our 8 demos.
              </p>
              <div class="link"><a href="#">Learn more</a></div>
            </div>
            <div class="item">
              <h4>Clean Code</h4>
              <p>
                Brooklyn has been built with the latest submission
                requirements based on the WordPres Codex,
                everything is working as intended.
              </p>
              <div class="link"><a href="#">Learn more</a></div>
            </div>
          </div>
        </div>
      </section>
      <!--END SECOND FEATURES-->
      <!--IPAD BLOCK-->
      <setion id="ipad-block">
        <div class="container-fluid">
          <div class="section-content">
            <div class="description">
              <h1>This will change<br>everything</h1>
              <p>
                Your eCommerce website is just the start.
                Whether you are an established business or
                on the brink of a new idea, Squarespace gives
                you the tools to take your business from
                online store to recognized brand.
              </p><a href="#">Get started</a>
            </div>
            <div class="section-carousel"><img src="./img/ipad.png">
              <div class="controls">
                <div class="prev"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span></div>
              </div>
            </div>
          </div>
        </div>
      </setion>
      <!--END IPAD BLOCK-->
      <!--PLATFORM-->
      <section id="platform">
        <div class="container">
          <h6>Platform Features</h6>
          <p class="description">
            At first, for some time, I was not able to answer
            him one word; but as he had taken me in his arms<br>I held fast by him, or I should have fallen to the ground.
          </p>
          <div class="row-custom">
            <div class="item">
              <h4>Dashboard</h4>
              <p>
                Looking cautiously round, to ascertain
                that they were not overheard, the two
                hags cowered nearer to the fire,
                and chuckled heartily.
              </p>
            </div>
            <div class="item">
              <h4>Discussions</h4>
              <p>
                This I have produced as a scantling of Jack’s
                great eloquence and the force of his reasoning
                upon such abstruse matters.
              </p>
            </div>
            <div class="item">
              <h4>Mobile Apps</h4>
              <p>
                This sounded a very good reason, and Alice
                was quite pleased to know it.
                'I never thought of that before!' she said.
              </p>
            </div>
            <div class="item">
              <h4>Fully Customizable</h4>
              <p>
                She gave my mother such a turn,
                that I have always been convinced
                I am indebted to Miss Betsey for
                having been born on a Friday.
              </p>
            </div>
            <div class="item">
              <h4>Ecommerce</h4>
              <p>
                It was some time before he obtained
                any answer, and the reply,
                when made, was unpropitious.
              </p>
            </div>
            <div class="item">
              <h4>Statistics</h4>
              <p>
                Thus much I thought proper to tell
                you in relation to yourself,
                and to the trust I reposed in you.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--END PLATFORM-->
      <!--QUOTES-->
      <section id="quotes">
        <div class="owl-carousel owl-theme">
          <div class="quote"><i class="material-icons">format_quote</i><i class="material-icons">format_quote</i>
            <p>
              It was some time before he obtained any answer,
              and the reply, when made, was unpropitious.
            </p><span>Sir Walter Scott</span>
          </div>
          <div class="quote"><i class="material-icons">format_quote</i><i class="material-icons">format_quote</i>
            <p>
              She gave my mother such a turn,
              that I have always been convinced
              I am indebted to Miss Betsey for
              having been born on a Friday.
            </p><span>charles dickens</span>
          </div>
          <div class="quote"><i class="material-icons">format_quote</i><i class="material-icons">format_quote</i>
            <p>
              This I have produced as a scantling
              of Jack’s great eloquence and the force
              of his reasoning upon such abstruse matters.
            </p><span>jonathan swift</span>
          </div>
        </div>
      </section>
      <!--END QUOTES-->
      <!--DO-IT-->
      <section id="do-it">
        <div class="container">
          <p>Do it yourself</p>
          <div class="row-custom">
            <div class="item">
              <div class="content">
                <div class="inner-shadow">
                  <div class="link"><a href="#">View Demo</a></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="inner-shadow">
                  <div class="link"><a href="#">View Demo</a></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="inner-shadow">
                  <div class="link"><a href="#">View Demo</a></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="inner-shadow">
                  <div class="link"><a href="#">View Demo</a></div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="inner-shadow">
                  <div class="link"><a href="#">View Demo</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--END DO-IT-->
      <!--DIVIDER-->
      <section id="divider-second">
        <div class="container">
          <h1>Join over 1 million customers</h1>
        </div>
      </section>
      <!--END DIVIDER-->
      <!--PRICES-->
      <section id="prices">
        <div class="container">
          <div class="row-custom">
            <div class="item">
              <div class="content">
                <h6>Beginner</h6><span>4.99</span>
                <p>
                  Alice wondered a little at this,
                  but she was too much in awe of the Queen
                  to disbelieve it. 'I'll try it when I go home,'
                  she thought to herself, 'the next time
                  I'm a little late for dinner.'
                </p><a href="#">Get started</a>
              </div>
            </div>
            <div class="item active">
              <div class="content">
                <h6>Standard</h6><span>14.99</span>
                <p>
                  You can create as many sections as you like,
                  with or without paralaxx, it’s up to you!
                  Brooklyn does not limit your imagination,
                  see our 8 demos.
                </p><a href="#">Get started</a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6>Pro</h6><span>99.99</span>
                <p>
                  Now the races of these two have been for some
                  ages utterly extinct, and besides to discourse
                  any further of them would not be at all to my purpose.
                </p><a href="#">Get started</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--END PRICES-->
      <!--FOOTER-->
      <section id="footer">
        <div class="container">
          <h1 class="footer-text">This will change<span>everything</span></h1>
          <div class="card">
            <div class="row-custom">
              <div class="logo"><img src="./img/footer-logo.png"></div>
              <ul>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Elements</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Work</a></li>
              </ul>
              <ul>
                <li><a href="#">Support</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Workshops</a></li>
                <li><a href="#">specials</a></li>
              </ul>
              <ul>
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">contacts</a></li>
                <li><a href="#">About us</a></li>
              </ul>
              <div class="footer-right">
                <p>Site by<a href="#">Rustam Kholmurodov</a></p>
                <p>Design made by</p><a class="crafty-logo" href="#"><img src="./img/crafty-logo.png"></a><a class="my-mail" href="#">www.getcraftwork.com</a>
                <div class="icons"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--END FOOTER-->
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
      $(document).ready(function () {
          $("html").niceScroll();
      });
      
      $(document).ready(function () {
      
          $('.owl-carousel').owlCarousel({
              items: 2,
              margin: 24,
              center: true,
              loop:true,
              dots: false,
              responsive: {
                  0: {
                      dots: true,
                      items: 1
                  },
                  768: {
                      items: 2
                  }
              }
          });
      });
    </script>
  </body>
</html>

index.pug
doctype html
html(lang='en')

  head

    meta(charset='UTF-8')
    title Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
    rel="stylesheet",
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
    crossorigin="anonymous")

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
    rel="stylesheet",
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN",
    crossorigin="anonymous")


    //font
    link(href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    //end

    //owl carousel 2
    link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css', rel='stylesheet')
    //end

    link(rel='stylesheet', href="css/main.css")
    link(rel='stylesheet', href="css/navigation.css")
    link(rel='stylesheet', href="css/welcome.css")
    link(rel='stylesheet', href="css/features.css")
    link(rel='stylesheet', href="css/iphone-block.css")
    link(rel='stylesheet', href="css/dividers.css")
    link(rel='stylesheet', href="css/features-second.css")
    link(rel='stylesheet', href="css/ipad-block.css")
    link(rel='stylesheet', href="css/platform.css")
    link(rel='stylesheet', href="css/quotes.css")
    link(rel='stylesheet', href="css/do-it.css")
    link(rel='stylesheet', href="css/prices.css")
    link(rel='stylesheet', href="css/footer.css")

  body

    #main

      //NAVIGATION

      nav#navigation.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            |
            a.navbar-brand(href='#')
              img(src='./img/logo.png')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') Home
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Pages
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') &Dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;
                  li
                    a(href='#') &Dcy;&rcy;&ucy;&gcy;&ocy;&iecy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;
                  li
                    a(href='#') &CHcy;&tcy;&ocy;-&tcy;&ocy; &iecy;&shchcy;&iecy;
                  li.divider
                  li
                    a(href='#') &Ocy;&tcy;&dcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&scy;&ycy;&lcy;&kcy;&acy;

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Elements
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') &Dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;
                  li
                    a(href='#') &Dcy;&rcy;&ucy;&gcy;&ocy;&iecy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy;
                  li
                    a(href='#') &CHcy;&tcy;&ocy;-&tcy;&ocy; &iecy;&shchcy;&iecy;
                  li.divider
                  li
                    a(href='#') &Ocy;&tcy;&dcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&scy;&ycy;&lcy;&kcy;&acy;

              li
                a(href='#') Product

              li
                a(href='#') Blog

              li
                a(href='#') Work

              li.nav-btn
                a(href='#') Start a Project

      //END NAVIGATION


      //WELCOME

      section#welcome
        .container

          h1
            | Get some
            br
            | Fresh air

          p Fjord - Modern Landing Page


      //END WELCOME


      //FEATURES

      section#features
        .container
          .row-custom

            .item

              .image
                .img
                  img(src='./img/fe1.png')

              h4
                span
                  | GET A CUSTOMIZED
                  br
                  | EMAIL ADDRESS AND MORE
              p
                |Looking cautiously round,
                |to ascertain that they were
                |not overheard, the two hags
                |cowered nearer to the fire,
                |and chuckled heartily.
              .link
                a(href='#') Learn more


            .item

              .image
                .img
                  img(src='./img/fe2.png')

              h4
                span
                  | 40 MILLION HIGH
                  br
                  | QUALITY IMAGES
              p
                | At first, for some time,
                | I was not able to answer
                | him one word; but as he
                | had taken me in his arms
                | I held fast by him, or I
                | should have fallen to the ground.
              .link
                a(href='#') Learn more

            .item

              .image
                .img
                  img(src='./img/fe3.png')

              h4
                span
                  | CREATE A SIMPLE LOGO
                  i New
              p
                | She gave my mother such a turn,
                | that I have always been convinced
                | I am indebted to Miss Betsey for having
                | been born on a Friday.
              .link
                a(href='#') get started

      //END FEATURES



      //IPHONE BLOCK

      section#iphone-block

        .container
          .block-content

            .block-carousel
              img.bg(src='./img/iphone.png')

              .carousel-img
                img.active(src='./img/logo-big-rotate.png')
                img(src='./img/logo-big-rotate.png')

              .controls

                .prev
                  span
                    i.fa.fa-angle-left(aria-hidden='true')
                .next
                  span
                    i.fa.fa-angle-right(aria-hidden='true')

            .card
              .card-items
                .item
                  h3
                    | Create a beautiful website
                  p
                    | Whether you want to create a blog,
                    | eCommerce store, portfolio,
                    | or all of the above, you can express
                    | your idea with a website powered by
                    | our elegant yet intuitive platform.

                .item
                  h3
                    | Make your our business.
                  p
                    | From goods to services, every business
                    | needs a space online to bring in customers.

                .item
                  h3
                    | Be artist
                  p
                    | An artist should always have control over
                    | their creative process.
              a(href='#') Get started




      //END IPHONE BLOCK


      //DIVIDER

      section#divider

        .container
          h1 Build it beautiful

          p
            | Sometimes bold ideas don't require a full
            | website. That's why Cover Pages can be
            | used to convey a single idea in a beautiful way.

      //END DIVIDER


      //SECOND FEATURES

      section#features-second
        .container

          .row-custom

            .item

              h4 Dummy Content
              p
                | Can make website design much easier
                | and with our shortcode manager you can
                | now create them even faster.
                | Choose your desired shortcode and the
                | manager will insert it for you.

              .link
                a(href='#') Learn more


            .item

              h4 Parallax Sections
              p
                | You can create as many sections as you like,
                | with or without paralaxx, it’s up to you!
                | Brooklyn does not limit your imagination,
                | see our 8 demos.

              .link
                a(href='#') Learn more

            .item

              h4 Clean Code
              p
                | Brooklyn has been built with the latest submission
                | requirements based on the WordPres Codex,
                | everything is working as intended.

              .link
                a(href='#') Learn more


      //END SECOND FEATURES


      //IPAD BLOCK

      setion#ipad-block
        .container-fluid
          .section-content
            .description

              h1
                | This will change
                br
                | everything

              p
                | Your eCommerce website is just the start.
                | Whether you are an established business or
                | on the brink of a new idea, Squarespace gives
                | you the tools to take your business from
                | online store to recognized brand.

              a(href='#') Get started

            .section-carousel
              img(src='./img/ipad.png')
              .controls

                .prev
                  span
                    i.fa.fa-angle-left(aria-hidden='true')




      //END IPAD BLOCK


      //PLATFORM

      section#platform
        .container
          h6 Platform Features

          p.description
            |At first, for some time, I was not able to answer
            | him one word; but as he had taken me in his arms
            br
            | I held fast by him, or I should have fallen to the ground.

          .row-custom

            .item
              h4 Dashboard
              p
                | Looking cautiously round, to ascertain
                | that they were not overheard, the two
                | hags cowered nearer to the fire,
                | and chuckled heartily.

            .item
              h4 Discussions
              p
                | This I have produced as a scantling of Jack’s
                | great eloquence and the force of his reasoning
                | upon such abstruse matters.


            .item
              h4 Mobile Apps
              p
                | This sounded a very good reason, and Alice
                | was quite pleased to know it.
                |'I never thought of that before!' she said.

            .item
              h4 Fully Customizable
              p
                | She gave my mother such a turn,
                | that I have always been convinced
                | I am indebted to Miss Betsey for
                | having been born on a Friday.

            .item
              h4 Ecommerce
              p
                | It was some time before he obtained
                | any answer, and the reply,
                | when made, was unpropitious.


            .item
              h4 Statistics
              p
                | Thus much I thought proper to tell
                | you in relation to yourself,
                | and to the trust I reposed in you.


      //END PLATFORM


      //QUOTES

      section#quotes
        .owl-carousel.owl-theme

          .quote
            i.material-icons format_quote
            i.material-icons format_quote
            p
              | It was some time before he obtained any answer,
              |and the reply, when made, was unpropitious.
            span Sir Walter Scott

          .quote
            i.material-icons format_quote
            i.material-icons format_quote
            p
              | She gave my mother such a turn,
              | that I have always been convinced
              | I am indebted to Miss Betsey for
              | having been born on a Friday.
            span charles dickens

          .quote
            i.material-icons format_quote
            i.material-icons format_quote
            p
              | This I have produced as a scantling
              | of Jack’s great eloquence and the force
              | of his reasoning upon such abstruse matters.
            span jonathan swift



      //END QUOTES


      //DO-IT

      section#do-it
        .container
          p Do it yourself
          .row-custom

            .item
              .content
                .inner-shadow
                  .link
                    a(href='#') View Demo
            .item
              .content
                .inner-shadow
                  .link
                    a(href='#') View Demo
            .item
              .content
                .inner-shadow
                  .link
                    a(href='#') View Demo
            .item
              .content
                .inner-shadow
                  .link
                    a(href='#') View Demo
            .item
              .content
                .inner-shadow
                  .link
                    a(href='#') View Demo





      //END DO-IT


      //DIVIDER

      section#divider-second

        .container
          h1 Join over 1 million customers

      //END DIVIDER


      //PRICES

      section#prices

        .container

          .row-custom

            .item
              .content
                h6 Beginner
                span 4.99
                p
                  | Alice wondered a little at this,
                  | but she was too much in awe of the Queen
                  | to disbelieve it. 'I'll try it when I go home,'
                  | she thought to herself, 'the next time
                  | I'm a little late for dinner.'
                a(href='#') Get started

            .item.active
              .content
                h6 Standard
                span 14.99
                p
                  | You can create as many sections as you like,
                  | with or without paralaxx, it’s up to you!
                  | Brooklyn does not limit your imagination,
                  | see our 8 demos.
                a(href='#') Get started

            .item
              .content
                h6 Pro
                span 99.99
                p
                  | Now the races of these two have been for some
                  | ages utterly extinct, and besides to discourse
                  | any further of them would not be at all to my purpose.
                a(href='#') Get started

      //END PRICES

      //FOOTER

      section#footer

        .container
          h1.footer-text
            | This will change
            span everything

          .card
            .row-custom

              .logo
                img(src='./img/footer-logo.png')

              ul
                li
                  a(href='#') Pages
                li
                  a(href='#') Elements
                li
                  a(href='#') Product
                li
                  a(href='#') Blog
                li
                  a(href='#') Work

              ul
                li
                  a(href='#') Support

                li
                  a(href='#') Answers
                li
                  a(href='#') Workshops
                li
                  a(href='#') specials


              ul
                li
                  a(href='#') Terms of use
                li
                  a(href='#') Privacy Policy
                li
                  a(href='#') contacts
                li
                  a(href='#') About us

              .footer-right
                p
                  | Site by
                  a(href='#') Rustam Kholmurodov
                p Design made by

                a.crafty-logo(href='#')
                  img(src='./img/crafty-logo.png')

                a.my-mail(href='#') www.getcraftwork.com

                .icons
                  a(href='#')
                    i.fa.fa-twitter(aria-hidden='true')

                  a(href='#')
                    i.fa.fa-facebook(aria-hidden='true')

                  a(href='#')
                    i.fa.fa-behance(aria-hidden='true')

                  a(href='#')
                    i.fa.fa-dribbble(aria-hidden='true')








      //END FOOTER


    script(src='https://code.jquery.com/jquery-3.2.1.min.js',
    integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',
    crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
    crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')
    script(src='js/jquery.nicescroll.min.js')
    script(src='js/custom.js')

    script.

        $(document).ready(function () {
            $("html").niceScroll();
        });

        $(document).ready(function () {

            $('.owl-carousel').owlCarousel({
                items: 2,
                margin: 24,
                center: true,
                loop:true,
                dots: false,
                responsive: {
                    0: {
                        dots: true,
                        items: 1
                    },
                    768: {
                        items: 2
                    }
                }
            });
        });
